.footer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.footer ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.footer ul li:not(:last-child)::after {
  content: "･";
  margin: auto 0.25em;
}
