.footer {
  width: 100%;
  max-width: var(--screen-m);
  margin: var(--space-4) auto;
}

.footer ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin: var(--space-3) auto;
}

.footer ul li:not(:last-child)::after {
  content: "･";
  margin: auto 0.25em;
}
