.post_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-3);
}

.post {
  display: flex;
  justify-content: space-between;
  gap: var(--space-2);
}

.post a {
  font-size: 1.5em;
}

.eyecatch {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: var(--radius-1);
  overflow: hidden;
}

.eyecatch img {
  position: absolute;
  object-fit: cover;
}
