.prose {
  width: 100%;
  font-size: 1.25em;
}

.prose p {
  margin-bottom: var(--space-3);
}

.prose img {
  max-width: 100%;
  height: auto;
}

.prose h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: var(--space-3);
}

.prose figure {
  margin-bottom: var(--space-3);
}

.prose figcaption {
  font-size: 0.8em;
  color: #dddddd;
  text-align: center;
}

/* *[lang=ja] .prose em { */
/*   font-style: normal; */
/*   text-emphasis: filled sesame; */
/* } */
/**/
