.eyecatch {
  width: 100px;
  height: auto;
}

.post {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.post a {
  font-size: 1.5em;
}

.post_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
